node_modules
context/context.bkp.*

# Build artifacts
dist/*
build/*
*.d.ts
*.tgz

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
.env
debug.env

RESUME-NEXT.txt
bin/origin-swap/sample-origin-*